body, html, h1 ,h2, h3, p {
    margin:0;
    padding: 0;
    border:0;
    font-family: sans-serif, Arial;
    text-align: center;
}

#inputText {
    width:auto;
    height:auto;
    height: 50px;
    width:380px;
}

h1 {
    margin:30px;
}

button {
    margin: 10px 3px 10px 3px;
    padding:5px;
}

.postCreate {
    margin:30px 60px 30px 60px;
    border:solid black 1px;
}